.aboutUS{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.TTLtxt{
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;
}

.ISItxt{
    padding-left: 50px;
    margin-top: 30px;
}

.logoImg{
    width: 250px;
    height: auto;
}

.txt{
    flex-direction: column;
    margin-bottom: 130px;
    font-family: MADETOMMY, sans-serif;
}

