@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

/* #searchButton{
  color:
} */
.thumbnail {
  background: rgb(0, 0, 0);
  background-image: url("../pictures/main banner v2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20rem;
}

.highlight {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: space-between;
}

.highlight1,
.highlight2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.highlight1 > h2,
.highlight2 > h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.textContainer h2 {
  font-size: 1.7rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.textContainer h2:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.6s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.textContainer h2:hover:after {
  width: 100%;
  left: 0;
}

.textContainer p {
  padding-top: 1rem;
  font-size: 1rem;
  color: #fafafa;
  opacity: 0.8;
}

.textContainer .price {
  opacity: 1;
  font-size: 1.5rem;
  font-weight: bold;
}

h2 > span {
  font-size: 10px;
  line-height: 1.5;
}

.highlight2 > h2 {
  text-align: right;
}

.box1,
.box2 {
  height: 250px;
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  /* background: rgb(0, 0, 0); */
}

.subhead {
  font-family: "MADETOMMY", sans-serif;
  color: #ff5050;
  font-size: 3rem;
  text-align: center;
}

.subtitle {
  margin: 1rem 0 3rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.whiteRow {
  background-color: white !important;
}

.blackRow {
  padding: 4rem 0 3rem 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.textThumbnail {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  background: #ff5050;
  padding: 8rem;
}

.textThumbnail h3 {
  max-width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  padding-top: 2rem;
  border-top: 3px solid #333;
  font-size: 2rem;
  font-family: "MADETOMMY", sans-serif;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.textThumbnail h2,
.textThumbnail span {
  font-size: 1.7rem;
  color: #333;
}

.icon {
  display: flex;
  gap: 3rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #e25656;
}

.icon > div {
  color: #333;
  padding-top: 2rem;
  font-size: 2.5rem;
  align-content: center;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.icon > div p {
  margin-top: 1rem;
}

.textThumbnail h3:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

#productList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productItem {
  height: fit-content;
  display: flex;
  padding: 10px;
  width: min-content;
  flex-direction: column;
}

.prodName {
  font-size: 20px;
  color: #ff5050 !important;
  text-align: left;
  margin: 360px 0 0 15px;
  position: absolute;
}

.productImage {
  height: 400px;
  width: 200px;
  background-color: black;
  overflow: hidden;
  background-position: center;
}

.productImage img {
  transition: 0.5s ease-in-out;
}

.productImage:hover img {
  transform: scale(1.1);
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
}

.overlay-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content > form {
  display: flex;
  gap: 1rem;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  width: 100%;
  color: #fff;
  background: none;
  text-decoration: underline;
}

.overlay button {
  width: 20%;
  background: none;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.highlight,
.product {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .highlight,
  .thumbnail,
  .product {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .highlight {
    /* padding: 2rem; */
    flex-direction: row;
  }

  .highlight1,
  .highlight2 {
    flex-direction: row;
  }

  .box1,
  .box2 {
    min-width: 18rem;
    max-width: 18rem;
  }

  .product > div {
    width: 23%;
  }
}

@media (min-width: 1280px) {
  .thumbnail,
  .highlight,
  .product {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .box1,
  .box2 {
    min-width: 25rem;
    max-width: 25rem;
  }
  .highlight,
  .product {
    padding-left: 0;
    padding-right: 0;
  }
}
