body {
  /* overflow-y: hidden; */
}

#content {
  margin: 4rem;
}

.container {
  display: flex;
}

.rightColumn.container {
  padding-left: 4rem;
  flex-direction: column;
}

.mainBox {
  width: 450px;
  height: 450px;
  /* background-color: black; */
  background-image: url("../pictures/sculpture.jfif");
}

.text {
  text-transform: capitalize;
  font-family: MADETOMMY, "sans-serif";
  line-height: 1.5;
  display: flex row;
}

.smallBox {
  width: 170px;
  height: 170px;
  background-color: black;
  margin-right: 1rem;
}

.previewBoxes {
  display: flex;
  justify-content: flex-start;
  padding-top: 7rem;
}
