body {
  /* overflow-y: hidden; */
  font-family: "MADETOMMY";
}

#content {
  margin: 4rem;
}

.container {
  display: flex;
}

.rightColumn.container {
  padding-left: 4rem;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.mainBox {
  width: 450px;
  height: 450px;
  /* background-color: black; */
  background-image: url("../pictures/creative-chairs-tunnel-3.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem;
}

.text {
  text-transform: capitalize;
  font-family: MADETOMMY, "sans-serif";
  line-height: 1.5;
}

.smallBox {
  width: 170px;
  height: 170px;
  /* background-color: black; */
  background-image: url("../pictures/tunnel1.png");
  background-position: center;
  background-size: cover;
  margin-right: 1rem;
  border-radius: 0.25rem;
}

.second {
  background-color: black;
  background-image: url("../pictures/tunnel2.png");
  background-position: 0 -90;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("../pictures/tunnel1.png");
  background-position: center;
  background-size: cover;
  margin-right: 1rem; */
}

.previewBoxes {
  display: flex;
  justify-content: flex-start;
  /* padding-top: 7rem; */
}

h2 {
  /* color: #000; */
  text-align: center;
  font-size: 2em;
}
.warpper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #000;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels {
  background: #333;
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}
.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.panel ul li {
  padding-top: 0.5rem;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid #000;
}

.rating-css div {
  color: #ffe400;
  font-size: 5px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 30px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #838383;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

.rating-css button {
  padding: 0.5rem 1rem;
  background: #fafafa;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

.rating-css button:hover {
  transition: background-color 0.5s ease 0s;
  text-decoration: none;
  background-color: rgb(95, 131, 150);
  color: rgb(255, 255, 255);
}

.rating-css button:active {
  background-color: rgb(7, 43, 63);
}
